body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 50px;
  font-family: 'Permanent Marker', cursive;
}

table {
  width: 500px;
  border-collapse: separate;
  border-spacing: 10px;
}

td {
  padding: 10px;
}

.selected {
  background-color: lightcoral;
}

.book {
  border: 1px solid black;
  border-radius: 10px;
}

.text {
  color: lightcoral;
}
